<!DOCTYPE html>
<html>
  <head>
    <title>Super</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src=<%- config.get('JS_CLIENT_URL') %>></script>
  </body>
</html>
